# This minimal base starts just from: kernel + systemd + rpm-ostree + bootloader.
# The intent of this is to inherit from this if you are doing something highly
# custom that e.g. might not involve Ignition or podman, but you do want
# rpm-ostree.
# We expect most people though using nestos-assembler to inherit from
# nestos-base.yaml.
packages:
 - kernel  systemd
 # rpm-ostree
 - rpm-ostree nss-altfiles
 # firmware updates
 - fwupd

# bootloader
packages-aarch64:
  - grub2-efi-aa64 efibootmgr shim
packages-x86_64:
  - grub2 grub2-efi-x64 efibootmgr shim
  - microcode_ctl
