{
  "ignition": {
    "version": "3.1.0"
  },
  "passwd": {
    "users": [
      {
        "groups": [
          "adm",
          "sudo",
          "systemd-journal",
          "wheel"
        ],
        "name": "USER",
        "passwordHash": "PASS",
        "sshAuthorizedKeys": [
          "PASTE_YOUR_KEY_HERE"
        ]
      }
    ]
  }
}
